// addMatchDayModal
div(class="modal fade" id="addMatchDayModal" tabindex="-1" role="dialog")
	div(class="modal-dialog" role="document")
		div.modal-content
			div.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title#myModalLabel Spieltag hinzufügen
			div.modal-body
				form#addMatchDayForm
					.form-group
						label.control-label(for="number") Nummer
						input#matchDay-number.form-control(name="number" type="number" min="1" max="100" step="1")
					.form-group
						label.control-label(for="dateFrom") Von
						input#matchDay-dateFrom.form-control(name="dateFrom" type="date")
					.form-group
						label.control-label(for="dateTo") Bis
						input#matchDay-dateTo.form-control(name="dateTo" type="date")
			div.modal-footer
				button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
				button#submitAddMatchDay(type="button" class="btn btn-success") Speichern
				
// addMatchModal
div(class="modal fade" id="addMatchModal" tabindex="-1" role="dialog")
	div(class="modal-dialog" role="document")
		div.modal-content
			div.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title#myModalLabel Spiel hinzufügen
			div.modal-body
				form#addMatchForm
					.form-group
						label.control-label(for="matchDayNumber") Spieltag
						div#add-match-day-number-formatted
						input#add-match-day-number(name="matchDayNumber" type="hidden")
					.form-group
						label.control-label(for="date") Datum
						input#add-match-date.form-control(name="date" type="datetime-local")
					.form-group
						label.control-label(for="team1") Team 1
						select#add-match-team1.form-control(name="team1Id")
					.form-group
						label.control-label(for="team2Id") Team 2
						select#add-match-team2.form-control(name="team2Id")
					.form-group
						label.control-label(for="scoreTeam1") Tore Team 1
						input#add-match-scoreTeam1.form-control(name="scoreTeam1" type="number" min="0" max="100" step="1")
					.form-group
						label.control-label(for="scoreTeam2") Tore Team 2
						input#add-match-scoreTeam1.form-control(name="scoreTeam2" type="number" min="0" max="100" step="1")
			div.modal-footer
				button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
				button#submitAddMatch(type="button" class="btn btn-success") Speichern
				
// editMatchModal
div(class="modal fade" id="editMatchModal" tabindex="-1" role="dialog")
	div(class="modal-dialog" role="document")
		div.modal-content
			div.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title#myModalLabel Spiel bearbeiten
			div.modal-body
				form#editMatchForm(data-edit-match-id='')
					.form-group
						label.control-label(for="matchDayNumber") Spieltag
						div#edit-match-day-number-formatted
					.form-group
						label.control-label(for="date") Datum
						input#edit-match-date.form-control(name="date" type="datetime-local" value="")
					.form-group
						label.control-label(for="team1") Team 1
						div#edit-match-team1
					.form-group
						label.control-label(for="team2Id") Team 2
						div#edit-match-team2
					.form-group
						label.control-label(for="scoreTeam1") Tore Team 1
						input#edit-match-scoreTeam1.form-control(name="scoreTeam1" type="number" min="0" max="100" step="1")
					.form-group
						label.control-label(for="scoreTeam2") Tore Team 2
						input#edit-match-scoreTeam2.form-control(name="scoreTeam2" type="number" min="0" max="100" step="1")
			div.modal-footer
				button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
				button#submitEditMatch(type="button" class="btn btn-success") Speichern